celery/log/
media/secure/
db.json
experiments/
dlib/
temp/
gfpgan/
venv/
GFPGAN/
ta-lib/
ta-lib*
violence-detection/
bitdefender/
setup_downloader.tar*
celerybeat-schedule*
keys/*
mailbox/root
client_secret.json
mailbox/
config/etc_dovecot_passwd
