{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/xterm.min.css">
<script type="text/javascript" src="/static/xterm.min.js"></script>
{% endblock %}
{% block content %}
<div id="terminal" style="width: 100%; height: 100%; white-space: nowrap;"></div>
<div style="display: inline-block;">
<button onclick="fireKey('\x1B');" class="btn btn-sm btn-outline-secondary"><i class="bi bi-escape"></i></button>
<button onclick="fireCommand();" class="btn btn-sm btn-outline-secondary"><i class="bi bi-command"></i></button>
<button onclick="fireKey('\t');" class="btn btn-sm btn-outline-secondary"><i class="bi bi-indent"></i></button>
<button onclick="fireKey('\x03');" class="btn btn-sm btn-outline-secondary">^C</button>
<button onclick="fireKey('\x18');" class="btn btn-sm btn-outline-secondary"><i class="bi bi-x-circle-fill"></i></button>
<button onclick="fireKey('\x1b[H');" class="btn btn-sm btn-outline-secondary"><i class="bi bi-skip-start-fill"></i></button>
<button onclick="fireKey('\x1b[D');" class="btn btn-sm btn-outline-secondary"><i class="bi bi-arrow-left"></i></button>
<button onclick="fireKey('\x1b[A');" class="btn btn-sm btn-outline-secondary"><i class="bi bi-arrow-up"></i></button>
<button onclick="fireKey('\x1b[B');" class="btn btn-sm btn-outline-secondary"><i class="bi bi-arrow-down"></i></button>
<button onclick="fireKey('\x1b[C');" class="btn btn-sm btn-outline-secondary"><i class="bi bi-arrow-right"></i></button>
<button onclick="fireKey('\x1b[F');" class="btn btn-sm btn-outline-secondary"><i class="bi bi-skip-end-fill"></i></button>
</div>
<small id="error-msg"></small>
{% endblock %}
{% block javascript %}
var prompt = document.getElementById('prompt');
var terminalElement = document.getElementById('terminal');
var termWebsocket;
var rows = parseInt(window.innerHeight/31);
var cols = parseInt(terminalElement.clientWidth/9.2);
const term = new Terminal({
	cols: cols,
	rows: rows,
	cursorBlink: true,
	macOptionIsMeta: true,
	scrollback: false,
    windowsMode: true,
});
function fireKey(key) {
	termWebsocket.send(key);
}
var isCommand = false;
function fireCommand() {
    isCommand = true;
}
const isMobileDevice = window.navigator.userAgent.toLowerCase().includes("mobi");
function customKeyEventHandler(e) {
        console.log(e.type);
        if (e.type !== "keypress") {
          return true;
        }
        const key = e.key.toLowerCase();
        if(isCommand) {
            const k = e.key.toUpperCase().charCodeAt(0);
            const upper = String.fromCharCode((isMobileDevice)?e.keyCode-154 : e.keyCode).toUpperCase();
            document.getElementById('error-msg').innerHTML = e.keyCode;
            var comd = String.fromCodePoint(upper.charCodeAt(0) - 64);
            fireKey(comd);
            return false;
        }
        if (e.ctrlKey && e.shiftKey) {
          if (key === "v") {
            navigator.clipboard.readText().then((toPaste) => {
              term.writeText(toPaste);
            });
            return false;
          } else if (key === "c" || key === "x") {
            const toCopy = term.getSelection();
            navigator.clipboard.writeText(toCopy);
            term.focus();
            return false;
          }
        }
        return true;
}
document.body.addEventListener('click', function(event) {
	term.focus();
});
document.body.addEventListener('touchmove', function(event) {
	term.focus();
});
term.onData((data) => {
	if(!isCommand) {
        termWebsocket.send(data);
    } else {
        isCommand = false;
    }
});
document.onkeypress = function (e) {
    e = e || window.event;
    customKeyEventHandler(e);
};
/*term.attachCustomKeyEventHandler(customKeyEventHandler);*/
let lineBuffer = [];
let history = [];
let shellListener = null;

async function simpleShell(data) {
  // string splitting is needed to also handle multichar input (eg. from copy)
  for (let i = 0; i < data.length; ++i) {
    const c = data[i];
    if (c === '\r') {  // <Enter> was pressed case
      term.write('\r\n');
      if (lineBuffer.length) {
        // we have something in line buffer, normally a shell does its REPL logic here
        // for simplicity - just join characters and exec...
        const command = lineBuffer.join('');
        lineBuffer.length = 0;
        history.push(command);
        try {
          // tricky part: for interactive sub commands you have to detach the shell listener
          // temporarily, and re-attach after the command was finished
          shellListener?.dispose();
        } catch (e) {
          // we have no real process separation with STDERR
          // simply catch any error and output in red
          const msg = !e ? 'Unknown Error...' : e.message || e;
          term.write(`\x1b[31m${msg.replace('\n', '\r\n')}\x1b[m`);
        } finally {
          // in any case re-attach shell
          shellListener = term.onData(simpleShell);
        }
        term.write('\r\n');
      }
    } else if (c === '\x7F') {  // <Backspace> was pressed case
      if (lineBuffer.length) {
        // dont delete prompt
        // this is still wrong for multiline inputs!
        lineBuffer.pop();
        term.write('\b \b');
      }
    } else if (['\x1b[A', '\x1b[B', '\x1b[C', '\x1b[D'].includes(data.slice(i, i + 3))) {  // <arrow> keys pressed
      // arrow keys skipped, since no inline editing implemented
      i += 2;
    } else {  // push everything else into the line buffer and echo back to user
      lineBuffer.push(c);
      term.write(c);
    }
  }
}
term.open(terminalElement);
term.write('Connecting to {{ the_site_name }}, please wait...\r\n');
var socketOpen = false;
function openTermSocket() {
    term.write('Opening websocket...\r\n');
	termWebsocket = new WebSocket("wss://" + window.location.hostname + "/ws/terminal/websocket/?rows=" + rows + "&cols=" + cols + "&token={{ token }}");
	termWebsocket.onmessage = (event) => {
		term.write(event.data);
	};
	termWebsocket.onclose = (event) => {
		console.log('Socket closed');
		setTimeout(openTermSocket, 15000);
        term.write('Socket disconnected.\r\n');
		socketOpen = false;
	};
	termWebsocket.onopen = (event) => {
		console.log('Socket open');
        term.write('Socket connected.\r\n');
		socketOpen = true;
	};
}
openTermSocket();
{% endblock %}
