{% extends 'base.html' %}
{% load feed_filters %}
{% block content %}
<legend>Invite a Friend</legend>
<p><i>{{ game.post.content|shorttitle }}</i></p>
<legend>Invite Code: {{ code }}</legend>
<p>Give the other player this code, and have them enter it.</p>
<p><button onclick="join();" title="Join the game" class="btn btn-outline-success" disabled>Join Game</button></p>
<hr>
<p><a title="Accept an invite (send this link to your friend)"  href="{% url 'games:join' %}">Accept invite</a></p>
{% endblock %}
{% block javascript %}
function openSocket() {
	socket = new WebSocket("wss://" + window.location.hostname + '/ws/games/{{ game.post.uuid }}/{{ game.user_code }}/');
	socket.addEventListener("open", (event) => {
		console.log('Socket open.');
	});
	socket.addEventListener("message", (event) => {
		if(event.data != 'x') {
			window.location.href = '/game/{{ game.post.uuid }}/{{ game.user_code }}/';
		}
	});
	socket.addEventListener("closed", (event) => {
		console.log('Socket closed.');
		setTimeout(function() {
			openSocket();
		}, {{ reload_time }});
	});
}
openSocket();
function join() {
	
}
{% endblock %}
