{% extends 'base.html' %}
{% block head %}
{% if request.user.is_authenticated and request.user.profile.identity_verified %}
{% endif %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block content %}
{% load app_filters %}
{% load feed_filters %}
<h1>Buy a Surrogacy Plan</h1>
<p>Conceive a child carried by {{ vendor.profile.name }}, according to the agreement below.</p>
<div style="display: flex; justify-content: space-around;">
<img class="rounded" style="float: left; width: 50%; max-width: 400px;" src="{% if request.user.is_authenticated %}{{ post.get_image_url }}{% else %}{{ post.get_face_blur_thumb_url }}{% endif %}" alt="Send crypto to {{ username }}"></img>
</div>
<div style="white-space: pre-wrap;">
{{ agreement }}
</div>
<hr>
<p>Surrogacy services are provided according to the agreement above. If you do not agree to the agreement, please do not continue. You will need to create an account and verify your identity as well as add your signature in order to make the payment.</p>
<p>After finalizing, copies of this agreement with signatures will be sent out to the parties pursuant to this agreement responsible for the conception of the child pursuant to this agreement.</p>
<p>By finalizing this agreement and making a payment, you agree to the <a href="/terms/" title="Read the terms of service and privacy policy">Terms of Service and Privacy Policy</a>, and the agreement above, as well as agree to and and acknowledge the sale as outlined and selected, as well as the plan described.</p>
<p>The transaction will display on your bank statement as "FEMMEBABE.C SURROGACY".</p>
<p>You will be redirected to a checkout page to make the payment. Please enter your credit or debit card information, you will be billed upon completion of checkout.</p>
<hr>
<div class="mx-auto">
<div class="row mx-auto" style="display: flex; justify-content: space-around; text-align: center;">
<div class="col-5 m-2 p-2 rounded  mx-auto" style="display: inline-block; background-color: #{% if darkmode %}555555{% else %}DDDDDD{% endif %};">
<p>Finalize</p>
<legend>Cost: ${{ surrogacy_fee|sub_fee }} billed once</legend>
<button onclick="{% if request.user.is_authenticated and request.user.profile.identity_verified %}surrogacyPlan(){% else %}window.location.href='{% if request.user_signup %}/verify/?next=/surrogacy/checkout/{% else %}/accounts/register/{% endif %}'{% endif %};" class="btn btn-lg btn-outline-success" title="Check out securely with our payment processor"><p>Checkout</p></button>
</div>
</div>
</div>
<hr>
{% endblock %}
{% block javascript %}
{% if request.user.is_authenticated and request.user.profile.identity_verified %}
var stripe = Stripe('{{ stripe_pubkey }}');
function surrogacyPlan(){
        fetch("/payments/surrogacy/checkout/finalize/payment/?vendor={{ vendor.id }}")
          .then((result) => {
	    console.log(result);
            return result.json();
          })
          .then((data) => {
            return stripe.redirectToCheckout({ sessionId: data.sessionId });
          });
}
{% endif %}
{% endblock %}
