<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/media/favicon.ico">
    <title>{{ site_name }}</title>
    <link rel="canonical" href="https://glamgirlx.com">
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
    {% block head %}{% endblock %}
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav id="glam-navbar" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a style="position: relative; z-index: 1;" class="navbar-brand" href="#">
	        <img src="/media/lips.png" alt="{{ site_name }}" width="30" height="30" style="border-radius: 50%;">
		{{ site_name }}
	</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ base_url }}/landing/">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Free</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0" action="{{ base_url }}/search/" method="GET">
            <input class="form-control mr-sm-2" type="text" id="q" name="q" placeholder="Search" aria-label="Search" required>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
      {% block content %}{% endblock %}
    </main>
    <footer class="footer" style="display: fixed; bottom:0;">
	<div style="background-color: white;">
        <div style="display:flex; justify-content: space-around;">
	        <button id="page0" class="pagebutton btn btn-lg btn-outline-info">Blog</button>
       		<button id="page1" class="pagebutton btn btn-lg btn-outline-info">Profile</button>
        	<button id="page2" class="pagebutton btn btn-lg btn-outline-info">Contact</button>
        	<button id="page3" class="pagebutton btn btn-lg btn-outline-info">Live</button>
	</div>
	</div>
    </footer>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap-bundle.min.js"></script>
    <script src="/static/main.js"></script>
    <script>
    {% block javascript %}{% endblock %}
    $(document).ready(function() {
        {% if not hidenavbar %}
        $(document.getElementById("glam-navbar")).autoHidingNavbar().show();
        {% endif %}
    });
    $(".pagebutton").on("click", function() {
	var page = parseInt(this.id.charAt(this.id.length - 1));
	for(var x = 0; x < 4; x++) {
		$("#pg" + x).addClass("hide");
	}
	$("#pg" + x).removeClass("hide");
    });
    </script>
  </body>
</html>
